@model MedicalTools.Models.Category

@{
    Layout = "Admin";
}


@{
    ViewData["Title"] = "UpdateCategories";
}

<h1>UpdateCategories</h1>


<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title">Category Details</h4>
                    <hr />
					<form asp-action="UpdateCategories">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<input type="hidden" asp-for="ID" />
						<div class="form-group">
							<label asp-for="Name" class="control-label"></label>
							<input asp-for="Name" class="form-control" />
							<span asp-validation-for="Name" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Image" class="control-label"></label>
							<input asp-for="Image" class="form-control" />
							<span asp-validation-for="Image" class="text-danger"></span>
						</div>
						<div class="form-group m-2">
							<input type="submit" value="Save" class="btn btn-primary" />
							<a asp-action="Categories" class="btn btn-outline-secondary">Back to List</a>

						</div>
					</form>

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
