@model MedicalTools.Models.Category

@{
    Layout = "Admin";
}

@{
    ViewData["Title"] = "UpdateCategories";
}

<h1>UpdateCategories</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title">Category Details</h4>
                    <hr />

                    <form method="post">
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Category Name</label>
                            <input asp-for="Name" type="text" class="form-control" placeholder="Enter category name" required />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Image" class="form-label">Category Image</label>
                            <input asp-for="Image" type="file" class="form-control" accept="image/*" required />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary m-2">Create Category</button>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>






<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}






